.App {
  text-align: center;
}

.headMain {
 display: flex;
 flex-direction: row;
 width: 100%
}

.App-header {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 1rem;
  width: 50%
}

.App-header2 {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 1rem;
  width: 50%
}

.App-header h1, h2 {
  padding-left: 2rem;
  margin: 0;
}

.App-header h1 {
  color: #d1ede5;
}

.App-header2 h3 {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0;
  cursor: pointer;
}

.App-header h2 {
  color: #1E90FF;
}

.green {
  color: #d1ede5;
}

.blue {
  color: #1E90FF;
}

.body {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 1rem;
  width: 100%;
}