@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

@-moz-document url-prefix() { /* Disable scrollbar Firefox */
  html{
    scrollbar-width: none;
  }
}
body {
  margin: 0; /* remove default margin */
  scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
  -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
  overflow-y: scroll;
  font-family: 'Fira Mono', monospace;
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}

.headMain {
  z-index: 5;
}

canvas { 
  position: absolute; 
  z-index: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
}

@media screen and (min-width: 1080px) {
  .App {
    text-align: center;
  }
  
  .headMain {
   display: flex;
   position: fixed;
   flex-direction: row;
   width: 100%
  }
  
  .top {
    background-image: url('../public/topImage.jpg');
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
  }

  .mast {
    width: 90%;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-bottom: 1rem;
    width: 50%
  }
  
  .App-header2 {
    background-color: #282c34;
    min-height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-bottom: 1rem;
    width: 50%
  }
  
  .App-header h1, h2 {
    padding-left: 2rem;
    margin: 0;
  }
  
  .App-header h1 {
    color: #d1ede5;
  }
  
  .App-header2 h3 {
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
  }

  .App-header2 h3:hover {
    color: #1E90FF;
    animation: glitch 1s linear infinite;
  }
  
  .App-header h2 {
    color: #1E90FF;
  }
  
  .green {
    color: #d1ede5;
  }
  
  .blue {
    color: #1E90FF;
  }

  .codeGreen {
    color: #00FF00;
  }

  .gold {
    color: #C0AD60;
  }
  
  .body {
    background-color: #282c34;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-bottom: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 1080px) and (min-width: 620px) {
  .App {
    text-align: center;
  }
  
  .headMain {
   display: flex;
   posistion: fixed;
   flex-direction: column;
   width: 100%
  }
  
  .top {
    background-image: url('../public/topImage.jpg');
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
    background-size: cover;
    height: 84vh;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-bottom: 1rem;
    width: 100%
  }
  
  .App-header2 {
    background-color: #282c34;
    min-height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-bottom: 1rem;
    width: 100%;
  }
  
  .App-header h1, h2 {
    margin: 0;
  }
  
  .App-header h1 {
    color: #d1ede5;
  }
  
  .App-header2 h3 {
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
  }
  
  .App-header h2 {
    color: #1E90FF;
  }
  
  .green {
    color: #d1ede5;
  }
  
  .blue {
    color: #1E90FF;
  }
  
  .body {
    background-color: #282c34;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-bottom: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 620px) {
  .App {
    text-align: center;
  }
  
  .headMain {
   display: flex;
   posistion: fixed;
   flex-direction: column;
   width: 100%
  }
  
  .top {
    background-image: url('../public/topImage.jpg');
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
    background-size: cover;
    height: 84vh;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-bottom: 1rem;
    width: 100%
  }
  
  .App-header2 {
    background-color: #282c34;
    min-height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-bottom: 1rem;
    width: 100%;
  }
  
  .App-header h1, h2 {
    margin: 0;
  }
  
  .App-header h1 {
    color: #d1ede5;
  }
  
  .App-header2 h3 {
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .App-header h2 {
    color: #1E90FF;
  }
  
  .green {
    color: #d1ede5;
  }
  
  .blue {
    color: #1E90FF;
  }
  
  .body {
    background-color: #282c34;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-bottom: 1rem;
    width: 100%;
  }
}


.mast{
  animation: glitch 1s linear infinite;
}

#mastHead {
  font-size: 2rem;
  border-right: 2px solid rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 4s steps(70) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
#mastLine1 {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
}
#mastLine2 {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.mast:before,
.mast:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.mast:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.mast:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.var-highlight{
  color: #C0AD60;
}
.string-highlight{
  color: rgba(253, 149, 90, 0.8);
}

#typewriter{
    font-size: 2em;
    margin: 0;
    font-family: "Courier New";

    &:after{
      content: "|";
      animation: blink 500ms linear infinite alternate;
    }
}

@-webkit-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@-moz-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}